html {
    height: 100%;
    width: 100%;
}

body {
    background-color: 'black';
} 

#canvas1 {
    border: 5px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: url('img/background.png');
}

#beetlemorph,
#rhinomorph,
#player,
#player_jets{
    display: none;
}
